*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family:'Poppins';
}

header{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 120px;
}


.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{  
    color: #111;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 900;
}

.search{
    width: 800px;
    height: 55px;
    background: #e4e4e4;
    border-radius: 30px;
}

.search input{
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 10px; 
}


.container{
    width: 100%;
    margin: 20px auto;
    columns: 4;   /*Propiedad de atajo de las dos anteriores: count y width.*/
    column-gap: 20px; /*Establece un hueco o espacio entre columnas con el tamaño indicado.*/
}

.container .box {
    width: 100%; 
    margin-bottom: 10px;
    break-inside: avoid; /*Indica si saltará a la siguiente columna si un elemento se rompe en mitad de columna.*/
}

.container .box img{
    max-width: 100%;
    border-radius: 15px;
}

@media(max-width:1200px){
    .container {
        width: calc(100% - 40px);
        columns: 3;
    }
}

@media(max-width:768px){
    .container {
        columns: 2;
    }
}

@media(max-width:480px){
    .container {
        width: calc(100% - 40px);
        columns: 1;
    }


}


